/* CSS Document */




body
{
	margin: 0;
	width:100%;
	height:100%;
	background: url("../img/malla.png") repeat scroll 0 0 #000 ;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color:#FFF;
	
}

#html5Loader{
	background:#000;
	opacity:0.5;
	position:fixed;
	margin:0;
	z-index:999999999;
	width:100%;
	height:100%;
}

#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	height:100%;
	color:white;
	vertical-align: middle;
	display: block;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	font-size:500px;
}

#container {
    height: 2562px;
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

#header {
    background-color: #FFFFFF;
    height: 7px;
    margin-top: 0;
    position: absolute;
    width: 100%;
    z-index: 300;
	display:none;
}

#header {
	display:none;
}

#download {
	height:294px;
	width:130px;
	display:none;
	position:absolute;
	margin-top: 7px;
	left:0px;
	z-index:200;
	
}

#downloadAndroid {
    /*background: url("../img/btn_download_android.png") no-repeat scroll 0 0 transparent;*/
    margin-top: 0px;
    position: absolute;
    width: 210px;
	height: 241px;
    z-index: 400;
	cursor:pointer;  
}

#downloadDesktop {
    /*background: url("../img/btn_download_desktop.png") no-repeat scroll 0 0 transparent;*/
    margin-top: 360px;
    position: absolute;
    width: 210px;
	height: 241px;
    z-index: 400;
	cursor:pointer; 
}

#videos
{
	width:100%;
	height:100%;
	position:absolute;
	display:none;
	
}

.btnClose
{
	position:absolute;
	right:30px;
	top:30px;
	width:76px;
	height:76px;
	display:none;
	z-index:2000;
}

#full_header {
    background-color: #FFFFFF;
    height: 7px;
    margin: 0;
    position: absolute;
    width: 100%;
}

.videoGrid
{
	width:512px;
	height:366px;
	float:left;
	z-index:10;
	background-color:#000;
	position:relative;
	
}

.videoH264
{
	width:512px;
	height:366px;
}

.posterImg
{
	width:512px;
	height:366px;
}

.btn_play {
    /*
	background: url("../img/btn_play.png") no-repeat scroll 0 0 transparent;
	*/
    cursor: pointer;
    display: block;
    height: 202px;
    left: 150px;
    position: absolute;
    top: 80px;
    width: 206px;
}

#playMainVideo {
    background: url("../img/btn_playMainVideo.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 119px;
    left: 185px;
    position: absolute;
    top: 150px;
    width: 119px;
}

#mainVideo {
    background-color: #000000;
    display: none;
    height: 100%;
    position: absolute;
    top: 7px;
    width: 100%;
    z-index: 5000;
}

.videoInfo_l {
    background: url("../img/bg_videoInfoMobile.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 100px;
    position: absolute;
    top: 266px;
    width: 512px;
}

.info_l {
    float: left;
    font-size: 20px;
    font-style: italic;
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.info_l span{ float:left;}

.info_l a
{
	color:#FFF;
	font-style:normal;
	text-decoration:none;
}

.contact_l {
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 0;
    text-align: left;
    width: 100px;
	display:none;
}

.contact_l a, img
{
	color:#FFF;
	border:0;
	text-decoration:none;
}


.videoInfo_r {
    background: url("../img/bg_videoInfoMobile.png") no-repeat scroll 0 0 transparent;
    display: block;
    position: absolute;
    top: 266px;
    height: 100px;
	width: 512px;
	right:0;
}

.info_r {
    float: right;
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
    text-align: right;
    width: 100%;
	font-style:italic;
}

.info_r span{ float:right;}

.info_r a
{
	color:#FFF;
	font-style:normal;
	text-decoration:none;
}

.contact_r {
    float: right;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 0;
    text-align: right;
    width: 100px;
	display:none;
	
}

.contact_r a, img
{
	color:#FFF;
	border:0;
	text-decoration:none;
}

#foxFigure
{
	right:0px;
	margin-top: 200px;
	width:847px;
	height:1075px;
	position:absolute;
}

.hoverTW {
    display: block;
}

.hoverTW_l {
    display: block;
	float:left;
}

.hoverTW_r {
    display: block;
	float:right;
}

.hoverTW a
{
	float:left;
}

.hoverTW span
{
	float:left;
}

.hoverGM
{
	display:none;
}

#fox_ear_l {
    background: url("../img/fox_ear_l.png") no-repeat scroll 0 0 transparent;
    height: 255px;
    left: 267px;
    position: absolute;
    width: 243px;
	top:100px;
	display:none;
	cursor:pointer;
	z-index:20;
}

#fox_ear_r {
    background: url("../img/fox_ear_r.png") no-repeat scroll 0 0 transparent;
    height: 255px;
    /*left: 600px;*/
	right:0px;
    position: absolute;
    width: 243px;
	top:100px;
	display:none;
	
	z-index:20;
}

#shareFB {
    background: url("../img/btn_fb.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    left: 180px;
    position: relative;
    top: 180px;
    width: 20px;
	cursor:pointer;
	float:left;
}

#shareTW {
    background: url("../img/btn_tw.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    left: 205px;
    position: relative;
    top: 180px;
    width: 20px;
	cursor:pointer;
}
/*
#fox_face {
    background: url("../img/fox_face.png") no-repeat scroll 0 0 transparent;
    height: 362px;
    position: absolute;
    top: 270px;
    width: 489px;
	left:355px;
}
*/

#fox_body1 {
    background: url("../img/fox_body1.png") no-repeat scroll 0 0 transparent;
    height: 314px;
    position: absolute;
    top: 635px;
    width: 178px;
	left:0px;
	display:none;
	cursor:pointer;
	z-index:30;
	
}

#fox_body2 {
    background: url("../img/fox_body2.png") no-repeat scroll 0 0 transparent;
    height: 430px;
    left: 515px;
    position: absolute;
    top: 635px;
    width: 241px;
	display:none;
	cursor:pointer;
	z-index: 70;
}

#fox_body3 {
    background: url("../img/fox_body3.png") no-repeat scroll 0 0 transparent;
    height: 321px;
    left: 392px;
    position: absolute;
    top: 857px;
    width: 362px;
	display:none;
	z-index:50;
	cursor:pointer;
}

#fox_tail {
    background: url("../img/fox_tail_mobile.png") no-repeat scroll 0 0 transparent;
    height: 238px;
	width: 265px;
    left: 756px;
    position: absolute;
    top: 939px;
    
	display:none;
	z-index:60;
	
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;

	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
}



/******** FLIP FOX HEAD ******/


.fox_face {
    height: 362px;
    position: absolute;
    top: 270px;
    width: 489px;
	left: 267px;
	z-index:15;
	display:none;
	
}


#front_who {
    background: url("../img/who.png") no-repeat scroll 0 0 transparent;
    height: 265px;
    margin: 70px auto;
    position: relative;
    width: 300px;
	cursor:pointer;
}

#back_who {
    display: none;
    font-size: 14px;
    font-style: italic;
    height: 140px;
    margin: 10px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 400px;
}

#back_title {
    font-size: 17px;
    font-style: italic;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 70px;
    text-align: center;
	display:none;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.fox_face .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	width: inherit;
	height: inherit;

	text-align: center;
	background: url("../img/fox_face.png") no-repeat scroll 0 0 transparent;
	

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.fox_face.flip .front {
	z-index: 900;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	
}

.fox_face .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	
	width: inherit;
	height: inherit;
	
	
	/*text-shadow: 1px  1px 1px rgba(0,0,0,0.6); */
	
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	
}

.fox_face.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	background: url("../img/fox_face.png") no-repeat scroll 0 0 transparent;

}


/* INFOGRAFIA */

#infografia {
    background: url("../img/bg_infografiaMobile.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 900px;
    text-align: center;
    width: 1024px;
}


.btngoHome {
    background: url("../img/btnClose.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    position: absolute;
    right: 90px;
    top: 130px;
    width: 76px;
}

.infografiaTitle
{
	font-size: 36px;
	font-style:italic;
	width:800px;
	margin:0px auto;
	padding-top:70px;
}

.infografiaText {
    font-size: 14px;
    font-style: normal;
    margin: 30px auto;
    width: 700px;
}

.infografiaJoin
{
	font-size: 28px;
	font-style:italic;
	width:800px;
	margin:0px auto;
	padding-top:70px;
}

.infografiaFooterTitle {
    font-size: 28px;
    font-style: italic;
    margin: 50px auto 0;
    text-align: center;
    width: 800px;
}

.infografiaFooterTitle span
{
	font-size: 14px;
    font-style: normal;
}

.infografiaFooterText {
    font-size: 14px;
    margin: 30px auto;
    text-align: left;
    width: 730px;
}

.infografiaFigure
{
	width:900px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:30px;
}

#infografiaMSG {
    border-radius: 200px 200px 200px 200px;
    height: 220px;
    left: 335px;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 280px;
    width: 300px;
}

#msgTitle
{
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	line-height:30px;
	font-size:24px;
	width:150px;
	margin:20px auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

#msgText
{
	margin-bottom:30px;
	font-size:14px;
}

#msgLink a {
    color: #EFAF4B;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

/* ASÍ PENSAMOS */

#manifiesto {
    background: url("../img/bg_asipensamosMobile.gif") no-repeat scroll 0 0 transparent;
    display: none;
    height: 1200px;
    text-align: center;
    width: 1024px;
}

#manifiestoTitle
{
	font-size: 28px;
    font-style: italic;
    margin: 0px auto;
    text-align: center;
    width: 800px;
	padding:50px;
}

#manifiestoTxt {
    font-size: 20px;
    font-style: normal;
    margin: 0 auto;
    width: 510px;
}

/* OLD BROWSER */

#oldBrowser {
    background: url("../img/bg_oldBrowser.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 820px;
    margin-top: 7px;
    position: absolute;
    text-align: center;
    width: 1024px;
	z-index:100;

}

#oldBrowserTxt
{
	font-size: 14px;
    font-style: normal;
    margin: 0px auto;
    width: 700px;
	padding:50px;
	
}

/* Pie */
#pie {
	background-color: #222222;
	color: #74726A;
	font-size: 12px;
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

#pie ul, li {
    margin-left: 0;
    padding-left: 0;
}

#pie a {
	color: #555;
	text-decoration:none;
	left:0px;
}

#pie a:hover {
	text-decoration: underline;
}

#pie #pie-contenido {
	width: 960px;
	margin: auto;
}

#pie #pie-contenido .c1, #pie #pie-contenido .c2 {
	display: inline-block;
	float: left;
	margin: 0 10px;
}

#pie #pie-contenido .c2 {
	background: url("../img/title-v.png") no-repeat scroll 0 0 transparent;
	padding-right: 20px;
	padding-top: 180px;
	text-align: center;
	width: 180px;
}

#pie #pie-contenido .c1 {
	width: 165px;
}

#pie #pie-contenido .c1 li {
	list-style-type: none;
	padding: 3px 0;
}

#pie #pie-contenido .c1 strong {
	font-size: 13px;
	line-height: 40px;
	text-transform: uppercase;
}

.leer-mas{
font-weight: bold;
text-align: center;
}

.endVideoHover {
    /*
	background: url("../img/endVideoHover.png") no-repeat scroll 0 0 transparent;
	*/
    display: none;
    position: absolute;
	/*
	cursor: pointer;
	left: 155px;
	top: 100px;
	*/
}

.endVideoLink {
    cursor: pointer;
    display: none;
    height: 267px;
    left: 115px;
    position: absolute;
    top: 60px;
    width: 286px;
}

.shareVideoTW {
    display: none;
    left: 350px;
    position: absolute;
    top: 100px;
}

.shareVideoFB {
    display: none;
    left: 150px;
    position: absolute;
    top: 100px;
}
